body {
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
=======
    font-family: serif;
    margin: 5rem;
    background: #c6c6c6;
}

.about {
    color: blue;
}
>>>>>>> origin/feature/styling-index
